/**********Colors*********/

:root {
    /*****Primary******/
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    /**(graphic design text)***/
    --dark-blue: hsl(198, 62%, 26%);
    /***(photography text)**/
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    /**(footer)***/
    /******Neutral*****/
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    padding: 0;
    max-width: 1440px;
}

.col-lg-6,
.col-lg-12 {
    padding: 0;
}

.header {
    background-image: url(/images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 700px;
}

.logo {
    width: 180px;
    height: auto;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: baseline;
}

.list-flex {
    display: flex;
    flex-direction: row;
    gap: 52px;
    color: var(--white);
    align-items: center;
}

.list-flex li {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.list-flex li:hover {
    cursor: pointer;
    color: var(--dark-moderate-cyan);
}

.btn-contact {
    color: var(--very-dark-desaturated-blue);
    text-transform: uppercase;
    background-color: var(--white);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    border: none;
    padding: 12px 25px;
    border-radius: 50px;
}

.btn-contact:hover {
    background-color: var(--dark-moderate-cyan);
    color: var(--white);
}

.height-tittle {
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tittle {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--white);
    letter-spacing: 10px;
    font-size: 53px;
    padding: 80px
}

.arrow {
    padding: 25px;
}


/******second row*********/

.bloque-egg-flex,
.bloque-pink-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtittle-egg,
.subtittle-pink {
    font-family: 'Fraunces', serif;
    font-size: 45px;
    font-weight: 900;
    color: var(--very-dark-desaturated-blue);
    padding: 10px;
}

.paragraph-egg,
.paragraph-pink {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: var(--dark-grayish-blue);
    font-weight: 500;
    padding: 10px;
}

.btn-egg,
.btn-pink {
    font-family: 'Fraunces', serif;
    color: var(--very-dark-desaturated-blue);
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 900;
    background: none;
    border: none;
}

.btn-egg::after {
    content: '';
    height: 13px;
    width: 100%;
    background-color: rgb(251 242 175);
    display: block;
    border-radius: 50px;
    margin-top: -8px;
}

.btn-pink::after {
    content: '';
    height: 13px;
    width: 100%;
    background-color: #FEDCDB;
    display: block;
    border-radius: 50px;
    margin-top: -8px;
}

.img-egg-pink {
    width: 675px;
}


/*******tercera row********/

.bloque-cherry-flex,
.bloque-mandarine-flex {
    display: flex;
    justify-content: center;
    align-items: end;
}

.texto-cherry-flex,
.texto-mandarine-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 40px;
}

.subtittle-cherry {
    font-family: 'Fraunces', serif;
    color: var(--dark-desaturated-cyan);
    font-weight: 900;
    font-size: 32px;
    padding: 10px;
}

.paragraph-cherry {
    font-family: 'Barlow', sans-serif;
    color: var(--dark-moderate-cyan);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.subtittle-mandarine {
    font-family: 'Fraunces', serif;
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 32px;
    padding: 10px;
}

.paragraph-mandarine {
    font-family: 'Barlow', sans-serif;
    text-align: center;
    font-size: 18px;
    color: var(--dark-blue);
    font-weight: 600;
}

.img-cherry-mandarine {
    width: 675px;
}


/****testimonials******/

.height-testimonials {
    height: 700px;
    align-content: center;
}

.subtittle-testimonials {
    font-family: 'Fraunces', serif;
    color: var(--grayish-blue);
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3px;
    text-align: center;
    padding: 30px;
}

.cards-flex {
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
}

.testimonial-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-icon {
    width: 75px;
    border-radius: 50px;
}

.testimonial-paragraph {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    color: var(--very-dark-grayish-blue);
    text-align: center;
    padding: 40px;
    line-height: 30px;
    font-weight: 600;
}

.testimonial-name {
    font-family: 'Fraunces', serif;
    color: var(--very-dark-desaturated-blue);
    font-weight: 900;
    font-size: 20px;
}

.testimonial-jobs {
    font-family: 'Barlow', sans-serif;
    color: var(--grayish-blue);
    font-size: 15px;
    font-weight: 600;
}


/*******galery***/

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    width: 337px;
}


/*******footer***/

.height-footer {
    height: 350px;
    background-color: var(--dark-moderate-cyan);
    display: flex;
    align-content: center;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.footer-img {
    width: 180px;
}

.footer-list {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.footer-list ul {
    display: flex;
    flex-direction: row;
    gap: 57px;
    color: var(--dark-desaturated-cyan);
    padding: 0px;
}

.footer-list ul li:hover {
    cursor: pointer;
    color: var(--white)
}

.footer-social-media {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 33px;
    color: hsl(167, 40%, 24%);
}

.footer-social-media i:hover {
    cursor: pointer;
    color: var(--white);
}